{% load static %}
<div style="background-color:#AFEEEE; padding: 50px; border-radius: 50% / 10% 30%; overflow: hidden;">
  <div style="display: flex;">
    <div style="flex: 1;">
      <h1 style="color: black; margin-bottom: 30px;">Добро пожаловать в нашу компанию</h1>

      <h2 style="color: black;">О компании</h2>
      <p style="color: black;">
      <p> Мы – компания бухгалтеров, которая управляет более 25 товариществами собственников жилья.
        Наши клиенты доверяют нам, потому что мы оказываем качественные услуги по ведению бухгалтерии и управлению общим
        имуществом.
      </p>
      <p>
        Мы готовы взять на себя заботу об управлении вашим ТСЖ и предоставляем широкий спектр услуг: от ведения
        бухгалтерии и составления отчетов до координации работ по техническому обслуживанию и ремонту общего имущества.
      </p>
      <p>
        На рынке мы уже более 10 лет и за это время наш опыт и профессионализм приобрели признание у многих организаций.
        Наша команда состоит из квалифицированных специалистов, которые всегда готовы решить любые проблемы. </p>
      </p>
      <h2 style="color: black;">Проекты</h2>
      <p style="color: black;">Перечисление наших проектов и их краткое описание.</p>

      <h2 style="color: black;">-Команда</h2>
      <p style="color: black;">Краткое описание нашей команды и ее состава.</p>

      <h2 style="color: black;">-Услуги</h2>
      <p style="color: black;">Перечисление наших услуг и их краткое описание.</p>

      <h2 style="color: black;">-Документы</h2>
      <p style="color: black;">Перечисление документов, которые необходимы для сотрудничества с нами.</p>

    </div>
    <div style="flex: 1; text-align: right;">
      <img src="{% static 'photo/employees/Svetlana.jpg' %}" alt="Фото компании" style="width: 100%;">
    </div>
  </div>
</div>