body {
    background: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.rounded_image {
    border-radius: 20%; /* Указывает радиус скругления углов в пикселях */
    overflow: hidden; /* Обрезает изображение до границ блока */
}

.right_photo {
    float: right;
}

.main-content {
    padding-top: 50px;
    height: 100vh;
    /*
    background-image: url("/static/my_site/img/bg/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    */
}

.text-container {
    border-radius: 10%; /* Устанавливаем радиус скругления углов */
    background-color: #f0f0f0; /* Цвет фона контейнера */
    padding: 20px; /* Отступ внутри контейнера */
    max-width: 70%;
}
