{% extends "my_site/layout.html" %}

{% block title %}Home{% endblock %}


{% block content %}
{% load static %}
    
    <div class="top_image_container">
        <img src="{% static 'my_site/img/home/head_mountain.png' %}">
        <div class="text-overlay">
            <div class='top'>Этот мой сайт-визитка. </div>
            <div class='bottom'>Тут я вам поведаю про себя все, что вам важно знать. </div>
        </div>
    </div>
    <div class='home_content'>
        <div class="right_photo"> 
            <img class="rounded_image" src="{% static 'my_site/img/Kirill.jpg' %}">
        </div>
        <h1>Кто я такой?</h1>

        <p> Всем привет! Меня зовут Тэаро Кирилл, и я программист, специализация на данный момент - Data Science.</p>

        <p> Этот сайт был сделан с целью объеденить все мои источники и проекты,
            создав тем самым некое портфолио моих проектов. 
            Тут также вы можете найти различные пути связи со мной.</p>

        <p> Но перейдем к сути, перечислю ка я все содержимое сайта, то что вы можете посмотреть. 
            Вы можете все изучить сами с помощью верхнего меню, но все же.</p>
        <ul>
            <li>Обязательно гляньте вкладку обо мне! Там мой тернистый путь в IT</li>
            <li>У меня есть несколько амбициозных и полноценных проектов. Гляньте!</li>
            <li>Ну если я совсем вас заинтересовал, то не постесняйтесь посетить страницу контакты и написать мне благодарность:)</li>
        </ul>
    </div>
    <!--<div class="text-container">
        <h1>А вот и я
        </h1>
    </div>
-->

{% endblock %}