{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'my_site/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'my_site/css/topmenu.css' %}">
    <link rel="stylesheet" href="{% static 'my_site/css/home.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
</head>
<body>

    <nav class="topmenu">
        <ul>
            <li><a href="{% url 'home' %}">Главная страница</a></li>
            <li><a href="{% url 'home' %}">Обо мне</a>
                <div class="submenu">
                    <ul>
                        <li><a href="#">Карьера</a></li>
                        <li><a href="#">Навыки</a></li>
                        <li><a href="#">Увлечения</a></li>
                        <li><a href="#">Достижения</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Проекты</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>

    <script>
        var items = document.querySelectorAll(".topmenu > ul > li");
        for (var i = 0; i < items.length; i++){
          items[i].addEventListener("mouseenter", function(){
            this.querySelector(".submenu").classList.add("show");
          });
          items[i].addEventListener("mouseleave", function(){
            this.querySelector(".submenu").classList.remove("show");
          });
        }
    </script>

    <div class="main-content">
            {% block content%} {% endblock %}
    </div>
</body>
</html>